@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@100&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@100&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    display: flex;
    align-items: center;
    background-color: #303030;
    color: white;
}

header h1 {
    padding: 15px 0px 0px 10px;
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 40px;
    
}
section {
    padding: 2rem;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    font-size: 30px;
    color: #265E70;
}

.carousel {
    display: flex;
    align-items: center;
    max-width: 580px;
    gap: 20px;
}

.cards {
    list-style-type: none;
    border-radius: 15px;
    display: flex;
    /* max-width: 540px; */
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    gap: 50px;
    overflow: hidden;
    
}

.cards li {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: rgba(77, 188, 233, 0.75);
    border-radius: 15px;
    min-width: 500px;
    min-height: 500px;
    padding: 15px;
}

.labels {
    font-size: 20px;
    line-height: 45px;
}

.cards span{
    color: #265E70;
    font-weight: 700;
    font-size: 25px;
    padding: 3px 10px 3px 10px;
    background: #FFFFFF;
    border-radius: 10px;
}

.setaDireita, .setaEsquerda {
    border: 0px;
    background-color: white;
    cursor: pointer;
}

#maisInfo {
    width: 350px;
    height: 70px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 47px;
    color: #FFFFFF;
    cursor: pointer;
    opacity: 0.9;
    margin-top: 40px;
    background: #4DBCE9;
    border-radius: 15px;
    border: none;
}

    #maisInfo:hover {
        font-size: 35px;
        opacity: 1;
    }

#fade, #modal {
    transition:  .5s;
    opacity: 1;
    pointer-events: all;
}


#fade {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.6);
    z-index: 5;

}
#modal {
    transform: translate(-50% -50%);
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 90%;
    padding: 1.2rem;
    border-radius: 0.5rem;
}

.modalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 1rem;
}

.modalBody {
    margin-bottom: 1rem;
}

#modal.hide, #fade.hide{
    opacity: 0;
    pointer-events: none;
}

#modal.hide {
    top: 0;
}
